.jumbotron {
    margin-top: 0;
    padding-top: 10px;
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #ae8fe3 50%, #E4E9FD 50%);
    min-height: 800px;
    font-family: 'helvetica neue';
}

.box {
    max-width: 600px;
    padding: 10px;
    margin: 10px auto 80px;
    background: #A683E3;
    color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.b1{
    max-width: 600px;
    padding: 60px;
    margin: 10px auto 80px;
    background-color: #A683E3 rgba(0, 0, 0, 0.6);
    color: grey;
    border-radius: 15px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

h1{
    margin: 0 20px;
}

#exampleFormControlTextarea6{
    margin: auto;
    width: 450px;
    height: 280px;
}

.head{
    padding: 40px;
    margin: 0 auto 20px;
    background-color: #a079e5;
    color: #E4E9FD;
}

.btn{
    height: 60px;
    width: 150px;
    margin: 0 50px 60px;
}

.alpha {
    height: 20px;
    width: 80px;
}

.tesla {
    height: 20px;
    width: 20px;
}

.tesla1 {
    height: 20px;
    width: 80px;
}

.rnd{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.pre{
    margin: 40px auto 0;
    background-color: black;
    color: white;
}

.pre:hover{
    background-color: grey;
    color: white;
}

.rnd1{
    filter: grayscale(100%);
}

.rnd1:hover{
    filter: grayscale(0%);
}

#myChart {
    margin: 60px auto;
}

#footer {
    text-align: center;
}

.foot {
    padding: 0 0.5% 1%;
}

.di{
    margin-bottom: 50px;
}